{% extends 'main/base.html' %}
{% load i18n %}
{% block content %}
<!-- Contact page starts here-->
<div class="contact_us">
    <div class="responsive-container-block big-container">
      <div class="responsive-container-block container">
        <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-7 wk-ipadp-10 line" id="i69b-2">
        <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-5 wk-ipadp-10" id="ifgi">
          <div class="container-box contact">
            <div class="text-content">
              <p class="text-blk contactus-head">
                Contact us
              </p>
              <p class="text-blk contactus-subhead">
                For inquiries regarding our products or services, please contact us:
              </p>
              <p class="text-blk contactus-subhead">
                We can assist you in English, Polish, and Mandarin.
              </p>
            </div>
            <div class="workik-contact-bigbox">
              <div class="workik-contact-box">
                <div class="phone text-box">
                    <i class="bi bi-telephone-fill"></i>
                  <p class="contact-text">
                    WhatsApp: +44 123 456 789
                  </p>
                </div>
                <div class="address text-box">
                    <i class="bi bi-envelope-at-fill"></i>
                  <p class="contact-text">
                    Email: info@londonmetalstairs.co.uk
                  </p>
                </div>
                <div class="mail text-box">
                    <i class="bi bi-geo-alt-fill"></i>
                  <p class="contact-text">
                    London, United Kingdom
                  </p>
                </div>
            </div>
                <!-- Social Media section --->
                <!-- <div class="social-media-links">
                <a href="">
                    <img class="social-svg" id="is9ym" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
                </a>
                <a href="">
                    <img class="social-svg" id="i706n" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
                </a>
                <a href="">
                    <img class="social-svg" id="ib9ve" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                </a>
                <a href="">
                    <img class="social-svg" id="ie9fx" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
                </a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- End Contact page-->
{% endblock %}