{% extends 'main/base.html' %}
{% load i18n %}
{% block content %}

<!-- Gallery start -->
 <section class="gallery">
    <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
        src="/static/images/3.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/2.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/8.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/1.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/13.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/15.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/19.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />

        <img
        src="/static/images/7.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
        src="/static/images/curved-staircase.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/exterior-staircase.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/4.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/spiral-staircase2.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/9.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/10.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/20.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/6.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
        src="/static/images/14.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/5.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/12.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/16.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/17.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/18.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/straighstircase.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        <img
        src="/static/images/11.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Staircase"
        />
        </div>
    </div>
</section>
  <!-- Gallery end -->

  {% endblock %}